 <% include head %>
                 <ul class="tiles-wrap animated" id="waterfall">

        <li><img src="images/slider/product_1.jpg" width="845" height="316"></li>
        <li><img src="/images/slider/product_2.jpg" width="340" height="126"></li>
        <li><img src="/images/slider/product_3.jpg" width="597" height="222"></li>
        <li><img src="/images/slider/product_4.jpg" width="597" height="220"></li>
        <li><img src="/images/slider/product_5.jpg" width="776" height="287"></li>
        <li><img src="/images/slider/product_6.jpg" width="800" height="160"></li>
        <li><img src="/images/slider/product_7.jpg" width="776" height="288"></li>
        <li><img src="/images/slider/product_8.jpg" width="776" height="290"></li>
        <li><img src="/images/slider/product_9.jpg" width="854" height="316"></li>
        <li><img src="/images/slider/product_10.jpg" width="960" height="301"></li>
   
      </ul>
                
		 
	</main>  
<% include foot %>