<!DOCTYPE html>
<html lang="en">
  
<!-- Mirrored from akshartech.in/demo/designer/welove/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 07 Oct 2016 17:11:14 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">

    <title>We Love - Onepage Wedding Html Responsive Template</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
        
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	
    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Parisienne' rel='stylesheet' type='text/css'>
    
    <!-- PrettyPhoto CSS -->
    <link href="vendor/prettyPhoto/prettyPhoto.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/style.css" rel="stylesheet">
    
    <!-- Custom CSS -->
    <link href="css/custom.css" rel="stylesheet">
    
    
    
   
     
  </head>

  <body id="page-top">
    
<!-- Nav Section -->
    
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                
                <!-- Logo Here -->
                <a class="navbar-brand page-scroll" href="#page-top"><p class="logo">Lokendra & Akanksha</p></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                	<li>
                        <a class="page-scroll" href="#page-top">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#wedding">Wedding</a>
                    </li>
                   
                    <li>
                        <a class="page-scroll" href="#weddingceremony">Wedding Ceremony</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#bestwish">Best Wish</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#ouralbum">Our Album</a>
                    </li>
                    
                    <li>
                        <a class="page-scroll" href="#joinourparty">Join Our Party</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav> 
      
 
  <!-- Full Page Image Background Carousel Header -->
    <header id="myCarousel" class="carousel slide carousel-fade">
    
        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" style="background-image:url(images/banner-1.jpg);"></div>
                
          </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image:url(images/banner-2.jpg);"></div>
                
          </div>           
      </div>
      
    <!-- countdown Timer Section -->
    
    <section class="countdown-timer" id="countdown-timer">
    	<div class="container">
        	<div class="row">
            	<div class="col-lg-12">
                    <div id="timer" data-animated="FadeIn">
                        <div id="days" class="timer_box"></div>
                        <div id="hours" class="timer_box"></div>
                        <div id="minutes" class="timer_box"></div>
                        <div id="seconds" class="timer_box"></div>
                    </div>
                </div>
            </div> 
        </div>
    </section> 
       
    </header>	
    
    <!-- Wedding Section -->
    
    <section class="wedding" id="wedding"><!--Section id-->
        <div class="container">
            <div class="row">                
                <div class="col-lg-4 col-md-4 col-sm-4">
                	<div class="clearfix text-center">
                        <img src="images/bride_image_edit.png" alt="Akanksha Bhargav" class="img-responsive" />
                        
                        <h2 class="name">Akanksha Bhargav</h2><!--bride name-->
                        
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                	<div class="clearfix text-center wedding-info">
                    	<h1 class="section-heading pink">Wedding</h1>
                        <hr class="divider">
                        <h2 class="fs-30 wedding-date fw-600">November  14th , 2016</h2>
                        <p class="fs-24">You’re invited to<br>
                        								our Wedding!</p>
                        <a href="#joinourparty" class="page-scroll btn btn-default link-btn">RSVP Now</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                	<div class="clearfix text-center">
                        <img src="images/groom_image_edit.png" alt="Lokendra Bhargav" class="img-responsive" />
                        
                        <h2 class="name">Lokendra Bhargav</h2><!--groom name-->
                      
                    </div>
                </div>
            </div>
        </div>
    </section>
    
   
    
    
    <!-- Wedding Ceremony Section -->
    
    <section class="weddingceremony" id="weddingceremony"><!-- Section id-->
        <div class="container">
        	<div class="row">
            	<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 text-center">
                    <div class="section-title"> <!--Section title-->
                    	<img src="images/wedding-place.png" class="img-responsive" alt="Wedding Place" />
                        <h1 class="section-heading white">Wedding Ceremony</h1>
                        <hr class="divider">
                        <p class="fs-18 lightgray">At Ashton-under-Lyne, United Kingdom</p><!--Wedding Ceremony Address-->
                        <p class="fs-18 place lightgray">Flower Plaza</h3>
                        <p class="fs-18 lightgray">6:00 PM - 11:00 PM</p><!--Wedding Ceremony Time-->
                        <a href="https://www.google.co.in/maps" class="btn btn-default link-btn" target="new">MAP</a><!--Wedding Ceremony Location map-->
                    </div>                    
                </div>
            </div>
        </div>    
    </section>
     
    <!-- Best Wish Section -->
    
    <section class="bestwish" id="bestwish"><!-- Section id-->
        <div class="container">
        	<div class="row">
            	<div class="col-lg-12 text-center">
                    <div class="section-title"> <!--Section title-->
                        <h1 class="section-heading pink">Best Wish</h1>
                        <hr class="divider">
                    </div>                    
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    <div class="quote"><i class="fa fa-quote-left fa-4x"></i></div>
                    <div class="carousel slide" id="fade-quote-carousel" data-ride="carousel" data-interval="3000">
                      <!-- Carousel indicators -->
                      <ol class="carousel-indicators">
                        <li data-target="#fade-quote-carousel" data-slide-to="0"></li>
                        <li data-target="#fade-quote-carousel" data-slide-to="1" class="active"></li>
                        <li data-target="#fade-quote-carousel" data-slide-to="2"></li>
                     
                      </ol>
                      <!-- Carousel items -->
                      <div class="carousel-inner">
                        <div class="item">
                            <div class="profile-circle" style="background-image:url(images/avtar-1.jpg);"></div>
                            <blockquote>
                                <p>“ Wishing that you keep falling in love with each other again and again,Have the most wonderful married life! ”</p><!-- Best Wish -->
                                <p class="pink pro-name fs-16"><em>Himanshu & Ronak</em></p>
                            </blockquote>	
                        </div>
                        <div class="item">
                            <div class="profile-circle" style="background-image:url(images/avtar-2.jpg);"></div>
                            <blockquote>
                                <p>“ The time flies and things change, but I wish that your love for each other would stay unchangeable. Congratulations! ”</p><!-- Best Wish -->
                                <p class="pink pro-name fs-16"><em>Pawan Bansal</em></p>
                            </blockquote>
                        </div>
                        <div class="active item">
                            <div class="profile-circle" style="background-image:url(images/avtar-3.jpg);"></div>
                            <blockquote>
                                <p>“ Wishing that you keep falling in love with each other again and again,Have the most wonderful married life! ”</p><!-- Best Wish -->
                                 <p class="pink pro-name fs-16"><em>Nitesh Sharda</em></p>
                            </blockquote>
                        </div>
                        
                      </div>
                    </div>
                </div>							
            </div>            
            
        </div> 
     </section>   
        
    <!-- Our Album Section -->
    
    <section class="ouralbum" id="ouralbum"><!-- Section id -->    	
        <div class="container-fluid">
        	<div class="row">
            
            	<div class="col-lg-12 text-center">
                	<div class="section-title"> <!--Section title-->
                        <h1 class="section-heading pink">Our Album</h1>
                        <hr class="divider">
                    </div>                     
                </div>
                
            </div>
            
            <div class="row no-gutter popup-gallery">
            
                <div class="col-lg-3 col-sm-6">
                    <a href="images/gallery-thumb/full-pic/pic-1-full.jpg" class="gallery-box" rel="alternate"><!-- full image -->
                        <img src="images/gallery-thumb/gallery-1.jpg" class="img-responsive" alt=""><!-- thumb image -->
                        
                        <div class="gallery-box-caption"><!-- caption here -->
                            <div class="gallery-box-caption-content">
                                <div class="project-name fs-36">
                                    Lorem <br>Ipsum
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                
                <div class="col-lg-3 col-sm-6">
                    <a href="images/gallery-thumb/full-pic/pic-2-full.jpg" class="gallery-box" rel="alternate"><!-- full image -->
                        <img src="images/gallery-thumb/gallery-2.jpg" class="img-responsive" alt=""><!-- thumb image -->
                        
                        <div class="gallery-box-caption"><!-- caption here -->
                            <div class="gallery-box-caption-content">
                                <div class="project-name fs-36">
                                    Lorem <br>Ipsum
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                
                <div class="col-lg-3 col-sm-6">
                    <a href="images/gallery-thumb/full-pic/pic-3-full.jpg" class="gallery-box" rel="alternate"><!-- full image -->
                        <img src="images/gallery-thumb/gallery-3.jpg" class="img-responsive" alt=""><!-- thumb image -->
                        
                        <div class="gallery-box-caption"><!-- caption here -->
                            <div class="gallery-box-caption-content">
                                <div class="project-name fs-36">
                                    Lorem <br>Ipsum
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                
                <div class="col-lg-3 col-sm-6">
                    <a href="images/gallery-thumb/full-pic/pic-4-full.jpg" class="gallery-box" rel="alternate"><!-- full image -->
                        <img src="images/gallery-thumb/gallery-4.jpg" class="img-responsive" alt=""><!-- thumb image -->
                        
                        <div class="gallery-box-caption"><!-- caption here -->
                            <div class="gallery-box-caption-content">
                                <div class="project-name fs-36">
                                    Lorem <br>Ipsum
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                
                <div class="col-lg-3 col-sm-6">
                    <a href="images/gallery-thumb/full-pic/pic-5-full.jpg" class="gallery-box" rel="alternate"><!-- full image -->
                        <img src="images/gallery-thumb/gallery-5.jpg" class="img-responsive" alt=""><!-- thumb image -->
                        
                        <div class="gallery-box-caption"><!-- caption here -->
                            <div class="gallery-box-caption-content">
                                <div class="project-name fs-36">
                                    Lorem <br>Ipsum
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                
                <div class="col-lg-3 col-sm-6">
                    <a href="images/gallery-thumb/full-pic/pic-6-full.jpg" class="gallery-box" rel="alternate"><!-- full image -->
                        <img src="images/gallery-thumb/gallery-6.jpg" class="img-responsive" alt=""><!-- thumb image -->
                        
                        <div class="gallery-box-caption"><!-- caption here -->
                            <div class="gallery-box-caption-content">
                                <div class="project-name fs-36">
                                    Lorem <br>Ipsum
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                
                <div class="col-lg-3 col-sm-6">
                    <a href="images/gallery-thumb/full-pic/pic-7-full.jpg" class="gallery-box" rel="alternate"><!-- full image -->
                        <img src="images/gallery-thumb/gallery-7.jpg" class="img-responsive" alt=""><!-- thumb image -->
                        
                        <div class="gallery-box-caption"><!-- caption here -->
                            <div class="gallery-box-caption-content">
                                <div class="project-name fs-36">
                                    Lorem <br>Ipsum
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                
                <div class="col-lg-3 col-sm-6">
                    <a href="images/gallery-thumb/full-pic/pic-8-full.jpg" class="gallery-box" rel="alternate"><!-- full image -->
                        <img src="images/gallery-thumb/gallery-8.jpg" class="img-responsive" alt=""><!-- thumb image -->
                        
                        <div class="gallery-box-caption"><!-- caption here -->
                            <div class="gallery-box-caption-content">
                                <div class="project-name fs-36">
                                    Lorem <br>Ipsum
                                </div>
                            </div>
                        </div>
                    </a>
                </div>                
            </div>
            
        </div>
    </section>  
        
      
          
        
    <!-- Join Our Party Section -->
    
    <section class="joinourparty" id="joinourparty"><!-- Section id-->
        <div class="container">
        	<div class="row">
            	<div class="col-lg-12 text-center">
                    <div class="section-title"> <!--Section title-->
                        <h1 class="section-heading pink">Join Our Party</h1>
                        <hr class="divider">
                    </div>                    
                </div>
            </div>
            <div class="row">
            	<div class="col-lg-8 col-md-push-2 col-sm-push-1 col-sm-10 col-md-8">
                	 <div class="contact-form"><!-- contact form -->
						<form class="" action="http://akshartech.in/demo/designer/welove/send_email.php" id="contact" name="contact" method="post" >
                          <div class="form-group col-md-6">
                            <input type="text" class="form-control" name="InputName" id="rsvpName" placeholder="Your Name" required >
                          </div>
                          <div class="form-group col-md-6">
                            <input type="email" class="form-control" name="InputEmail" id="rsvpEmail" placeholder="Your Email" required >
                          </div>
                          <div class="form-group col-md-6">
                            <input type="text" class="form-control" name="InputGuest" id="rsvpMobile" placeholder="Your Mobile" required >
                          </div>
                          <div class="form-group col-md-6">
                            <input type="number" class="form-control" name="InputAtt" id="rsvpAttending" placeholder="Number of Attending" required >
                          </div>
                          <div class="form-group col-md-12">
                            <textarea class="form-control" name="InputMessage" id="rsvpMessage" rows="4" placeholder="Message" required  ></textarea>
                          </div>
                          
                          <button name="submit" type="button" class="btn btn-default fs-18" id="rsvpButton">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>    
    </section>           
        
    <!-- footer Section -->
    
    <footer>
    	<div class="container">
        	<div class="row">
            	<div class="col-lg-12">
                	<div class="text-center">
                    <img src="images/devidar.png" class="img-responsive" alt="Devidar" />
                        <p class="fs-18">NeutrOrion © 2016</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>    
        
      
    		
      
      
      
      
      
      
      
      
      
            
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
    
    <!-- jQuery 
    <script src="vendor/jquery/jquery.min.js"></script>-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	
    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="vendor/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/theme.js"></script>
    
    <!-- custom JavaScript -->
    <script src="js/custom.js"></script>
    
    <!-- prettyPhoto -->
    <script src="vendor/prettyPhoto/jquery.prettyPhoto.js"></script>

    <script>
	$(document).ready(function(){
	$('#rsvpButton').click(function(){
	postData={
	name:$('#rsvpName').val(),
	email:$('#rsvpEmail').val(),
	mobile:$('#rsvpMobile').val(),
	attending:$('#rsvpAttending').val(),
	message:$('#rsvpMessage').val(),
	};
        $.ajax({
            type: "POST",
            url: "/rsvp",
            data: postData,
            success: function (data) {
              //  var data = JSON.parse(data);
                if (data.result != 'success') {
                    alert(data.data);

                }
                else {
					
					$('#rsvpName').val('');
					$('#rsvpEmail').val('');
					$('#rsvpMobile').val('');
					$('#rsvpAttending').val('');
					$('#rsvpMessage').val('');
					alert('Thanks for RSVP!');
                }
            },

            dataType: "json",
            traditional: true
        });
	});
	});
	</script>
    
  </body>

<!-- Mirrored from akshartech.in/demo/designer/welove/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 07 Oct 2016 17:15:32 GMT -->
</html>
