<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from netbaseteam.com/magento/html/print/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 29 Jan 2017 10:24:10 GMT -->
<head>
	<meta charset="utf-8">
	<title>Printing theme - Home page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=3.0, user-scalable=yes"/>
	<meta name="description" content="Printing template">
	<meta name="author" content="Netbase">
	<!--Add css lib--> 
	<link rel="stylesheet" type="text/css" href="css/style-main.css">  
  	<link href='http://fonts.googleapis.com/css?family=Roboto:500,300,700,400' rel='stylesheet' type='text/css'>
  	<link href='https://fonts.googleapis.com/css?family=Arimo:500,300,700,400' rel='stylesheet' type='text/css'>
  	<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:500,300,700,400' rel='stylesheet' type='text/css'>
</head>
<body>
	<!--Header: Begin-->
	<header>
	 
		<!--Main Header: Begin-->
		<section class="main-header">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-2 col-sm-4 col-xs-5 w-logo">
						<div class="logo hd-pd ">
							<a href="index.html">
								<img src="images/logo.png" alt="printshop logo">
							</a>
						</div>	
					</div>
					<div class="col-lg-7 col-md-8 visible-md visible-lg">
					 
					</div>
					<div class="col-sm-1 col-sm-offset-5 col-xs-offset-2 col-xs-2 visible-sm visible-xs mbmenu-icon-w">
						 
					</div>
					 
				</div>
			</div>
		</section><!--Main Header: End-->
	</header><!--Header: End-->

	<!--Main index : Begin-->
	<main class="main index">
		<!--Home slider : Begin-->
	 
                
                
                  <ul class="tiles-wrap animated" id="waterfall">

        <li><img src="images/slider/product_1.jpg" width="845" height="316"></li>
        <li><img src="/images/slider/product_2.jpg" width="340" height="126"></li>
        <li><img src="/images/slider/product_3.jpg" width="597" height="222"></li>
        <li><img src="/images/slider/product_4.jpg" width="597" height="220"></li>
        <li><img src="/images/slider/product_5.jpg" width="776" height="287"></li>
        <li><img src="/images/slider/product_6.jpg" width="800" height="160"></li>
        <li><img src="/images/slider/product_7.jpg" width="776" height="288"></li>
        <li><img src="/images/slider/product_8.jpg" width="776" height="290"></li>
        <li><img src="/images/slider/product_9.jpg" width="854" height="316"></li>
        <li><img src="/images/slider/product_10.jpg" width="960" height="301"></li>
   
      </ul>
                
		 
	</main>  
	<!--Footer : Begin-->
	<footer>
		 
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<p class="copy-right">Copyright © 2017. All Rights Reserved</p>
						<a href="#" id="back-to-top">
							<i class="fa fa-chevron-up"></i>
							Top
						</a>
					</div>
				</div>
			</div>
		</div>
	</footer>
	 
	<!--Add js lib-->
	<script type="text/javascript" src="js/jquery/jquery-1.11.3.min.js"></script> 
        <script type="text/javascript" src="js/newWaterfall.js"></script> 
	<script type="text/javascript" src="js/bootstrap.min.js"></script> 
    <script type="text/javascript" src="js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="js/Chart.js"></script> 
    <script type="text/javascript" src="js/doughnutit.js"></script>
  <!--   <script type="text/javascript" src="js/jquery.subscribe-better.js"></script> -->
	<script type="text/javascript" src="js/slideshow/jquery.themepunch.revolution.js"></script>   
	<script type="text/javascript" src="js/slideshow/jquery.themepunch.plugins.min.js"></script>  
    <script type="text/javascript" src="js/theme-home.js"></script>  
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  	<![endif]-->
        <script>
           
           
        </script>
        <style>
            #waterfall{
                text-align: center;
            }
            #waterfall li { 
                margin: 10px;
                display:  inline-block;;
            }
 
        </style>
</body>

<!-- Mirrored from netbaseteam.com/magento/html/print/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 29 Jan 2017 10:25:30 GMT -->
</html>
