 <% include head %>
<div style="text-align: center;">
    <p style="color:green;"><%= count%></p>
    <p>Create new message</p>
    <form method="post" action="/NewMessage" enctype="multipart/form-data">
        <input type="text" name="title" placeholder="Title" style="width: 500px;"/>
        <br>
        <input type="file" name="banner" placeholder="Banner" style="width: 500px;"/>
        <br>
        <textarea name="embed" placeholder="Embed code"style="width: 500px;"></textarea>
        <br>
        <input type="submit" value="Submit">
    </form>
</div>
<% include foot %>