  <% include head %>
  <div style="text-align: center;">
      <img src="/images/banner_iradeo.jpg" alt=""/>
  </div>
  <div>
      <%- data %>
  </div>
  <span style="display:none;">***</span>
  <script type="text/javascript" language="javascript" id="pnyxeDiscussItJs" src="https://www.pnyxe.shadow.com/PnyxeDiscussItJs.jsp"></script>
  <script type="text/javascript" language="javascript" id="pnyxeDiscussItInitJs300458">try { var zpbw_webWidgetClientKey = "ZB_Uzk6Vtiqqpwec7yAoIw"; var pnyxeDiscussIt = new PnyxeDiscussIt(); pnyxeDiscussIt.init("300458"); } catch (e) {}</script>
  <noscript><a href="https://www.pnyxe.shadow.com/DiscussIt-comment-system?utm_source=wwcCodeSpanPromotion2" rel="nofollow">Professional Comment System</a></noscript>
<% include foot %>
 