  <% include head %>
  <div style="margin: 0px 110px;   font-size: 34px;">

      <%= data.title==null?'':data.title %>
  </div>
  <div style="text-align: center;">
      <%if (data.banner == null) { %>
      <img src="/images/banner_iradeo.jpg" alt=""/>
      <% } else{ %>
      <img src="https://s3-us-west-2.amazonaws.com/printhappily-banners/<%= data.banner%>" alt=""/>
      <% }%>

  </div>

  <div style="text-align: center">
      <%- data.embed %>
  </div>
  <span style="display:none;">***</span>
  <script type="text/javascript" language="javascript" id="pnyxeDiscussItJs" src="https://www.pnyxe.shadow.com/PnyxeDiscussItJs.jsp"></script>
  <script type="text/javascript" language="javascript" id="pnyxeDiscussItInitJs300458">try { var zpbw_webWidgetClientKey = "ZB_Uzk6Vtiqqpwec7yAoIw"; var pnyxeDiscussIt = new PnyxeDiscussIt(); pnyxeDiscussIt.init("300458"); } catch (e) {}</script>
  <noscript><a href="https://www.pnyxe.shadow.com/DiscussIt-comment-system?utm_source=wwcCodeSpanPromotion2" rel="nofollow">Professional Comment System</a></noscript>
<% include foot %>
 